<div class="container my-5">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="text-center">
      <h1>Restaurant Reservation App</h1>
      <p>Click <%= link_to 'here', reservations_path %> to visit all existing reservations</p>
    </div>
  </div>
</div>
