<div class="container p-2">
  <%= turbo_frame_tag 'reservation_form' do %>
    <%= render partial: 'reservations/partials/new_form', locals: { reservation: Reservation.new } %>
  <% end %>

  <h2>Existing Reservations</h2>

  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Time</td>
        <td>Seating Capacity</td>
        <td>Table No</td>
      </tr>
    </thead>

    <tbody id='reservations'>
      <% if @reservations.present? %>
        <%= render partial: 'reservations/partials/reservation', collection: @reservations, as: :reservation %>
      <% else %>
        <tr id='empty-text'><td colspan="4" class="text-center text-secondary">No reservations yet</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
